@using Microsoft.AspNetCore.Identity
@using UMCTravelTour.Core.CustomIdentity
@using System.Security.Claims

@inject SignInManager<DreamTourUser> SignInManager
@inject UserManager<DreamTourUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle" aria-hidden="true"></i> @User.Identity.Name
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @if (UserManager.GetRolesAsync(UserManager.FindByNameAsync(User.Identity.Name).Result).Result.Count() > 0)
                {
                    <a class="dropdown-item" href="/Admin">
                        <span class="item-text">ADMIN</span>
                    </a>
                    <div class="dropdown-items-divide-hr"></div>
                }
                <form class="nav-link" asp-controller="UserAuth" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link" style="font-size: 14px;border-bottom-style: none; border-top-style: none; border-left-style: none; border-right-style: none; outline: none; background-color: transparent">
                        <span class="item-text">Đăng xuất</span>
                    </button>
                </form>
            </div>
        </li>
    }
    else
    {
        if (ViewBag.LoginMode == "active")
        {
            <li class="nav-item">
                <a id="btnLogModal" class="nav-link" asp-area="Identity" asp-page="/Account/Login" data-toggle="modal" data-target="#loginModal">Đăng nhập</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a id="btnLogModal" class="nav-link" onclick="loginReturnUrl()" style="cursor: pointer;">Đăng nhập</a>
            </li>
        }
    }
</ul>