<div id="intro" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">Explore your amazing city</div>
                    <h2 class="py-1">Search</h2>
                    <div>
                        <form action="" method="post" class="d-block d-flex">
                            <div class="fields d-block d-flex">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="service, hotel">
                                    <div class="input-group-append" style="height: 34px;">
                                        <div class="select-wrap one-third">
                                            <div class="icon m-0"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="" id="" class="form-control" placeholder="Keyword search">
                                                <option value="">Where</option>
                                                <option value="">San Francisco USA</option>
                                                <option value="">Berlin Germany</option>
                                                <option value="">Lodon United Kingdom</option>
                                                <option value="">Paris Italy</option>
                                            </select>
                                        </div>
                                        <input id="btnSearch" style="background-color: #14bf98 !important;" type="submit" class="btn btn-secondary mt-0" value="Search">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <p>Or browse the highlights</p>
                    <p id="highlight_tag">
                        <a class="btn-solid-reg" href="#"><i class="fas fa-utensils"></i> Restaurant</a>
                        <a class="btn-solid-reg" href="#"><i class="fas fa-hotel"></i> Hotel</a>
                        <a class="btn-solid-reg" href="#"><i class="fas fa-map-marked"></i> Places</a>
                        <a class="btn-solid-reg" href="#"><i class="fas fa-shopping-bag"></i> Shopping</a>
                    </p>
                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="~/client/images/intro-office.jpg" alt="alternative">
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>