<!-- Projects -->
<div id="projects" class="filter" style="padding-top: 50px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">TOURS</div>
                <h2>Tours That We're Proud Of</h2>
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Filter -->
                <div class="button-group filters-button-group">
                    <a class="button is-checked" data-filter="*"><span>SHOW ALL</span></a>
                    <a class="button" data-filter=".design"><span>ITALY</span></a>
                    <a class="button" data-filter=".development"><span>PARIS</span></a>
                    <a class="button" data-filter=".marketing"><span>L.A</span></a>
                    <a class="button" data-filter=".seo"><span>TOKYO</span></a>
                </div>
                <!-- end of button group -->
                <div class="grid">
                    <div class="element-item development">
                        <a class="popup-with-move-anim" href="#project-1">
                            <div class="element-item-overlay"><span>Hawaii</span></div><img src="~/client/images/project-1.jpg" alt="alternative">
                        </a>
                    </div>
                    <div class="element-item development">
                        <a class="popup-with-move-anim" href="#project-2">
                            <div class="element-item-overlay"><span>Tokyo</span></div><img src="~/client/images/project-2.jpg" alt="alternative">
                        </a>
                    </div>
                    <div class="element-item design development marketing">
                        <a class="popup-with-move-anim" href="#project-3">
                            <div class="element-item-overlay"><span>BoomBap Audio</span></div><img src="~/client/images/project-3.jpg" alt="alternative">
                        </a>
                    </div>
                    <div class="element-item design development marketing">
                        <a class="popup-with-move-anim" href="#project-4">
                            <div class="element-item-overlay"><span>Van Moose</span></div><img src="~/client/images/project-4.jpg" alt="alternative">
                        </a>
                    </div>
                    <div class="element-item design development marketing seo">
                        <a class="popup-with-move-anim" href="#project-5">
                            <div class="element-item-overlay"><span>Joy Moments</span></div><img src="~/client/images/project-5.jpg" alt="alternative">
                        </a>
                    </div>
                    <div class="element-item design marketing seo">
                        <a class="popup-with-move-anim" href="#project-6">
                            <div class="element-item-overlay"><span>Spark Events</span></div><img src="~/client/images/project-6.jpg" alt="alternative">
                        </a>
                    </div>
                    <div class="element-item design marketing">
                        <a class="popup-with-move-anim" href="#project-7">
                            <div class="element-item-overlay"><span>Casual Wear</span></div><img src="~/client/images/project-7.jpg" alt="alternative">
                        </a>
                    </div>
                    <div class="element-item design marketing">
                        <a class="popup-with-move-anim" href="#project-8">
                            <div class="element-item-overlay"><span>Zazoo Apps</span></div><img src="~/client/images/project-8.jpg" alt="alternative">
                        </a>
                    </div>
                </div>
                <!-- end of grid -->
                <!-- end of filter -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of filter -->
<!-- end of projects -->
<!-- Project Lightboxes -->
<!-- Lightbox -->
<div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-8">
            <img class="img-fluid" src="~/client/images/project-1.jpg" alt="alternative">
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
            <h3>Hawaii</h3>
            <hr class="line-heading">
            <h6>Drive Around Oahu in a Day</h6>
            <p>
                Here are many ways to see the island of Oʻahu—take a guided tour, hitch a ride on a helicopter, or explore the coast by boat.  These are all exciting options, but we prefer sightseeing by car. The reason?  Well, you choose the route, you can linger as long as you want, and you can eat and shop along the way. The island of Oʻahu is just the right size for taking a drive. It’s large enough that you will not run out of things to do and sights to see yet small enough that you can complete the drive in one day. Chances are that although it’s possible to see all of the island’s postcard-worthy sights in one day, you won’t want to. You’ll meet a honu (turtle) and want to stay to play. You’ll discover a waterfall and decide to go for a swim. You’ll hike a mountain and find the view is a perfect background for a photoshoot of you and your someone special, and you’ll linger much longer than you intended. Nevertheless, here are our recommended stops for driving around Oʻahu in day.
            </p>
            <a class="btn-solid-reg" href="~/Tour/Index">CHECKOUT</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div>
        <!-- end of col -->
    </div>
    <!-- end of row -->
</div>
<!-- end of lightbox-basic -->
<!-- end of lightbox -->
<!-- Lightbox -->
<div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-8">
            <img class="img-fluid" src="~/client/images/project-2.jpg" alt="alternative">
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
            <h3>Tokyo</h3>
            <hr class="line-heading">
            <h6>Private Full Day Sightseeing Tour to Mount Fuji and Hakone</h6>
            <p>
                Check out one of Japan's most beautiful, iconic destinations—Mt.
                Fuji—on this convenient day tour from Tokyo. Visit several places in the Fuji area from where you can get beautiful views of the mountain (weather permitting), including Hakone, Lake Kawaguchi, the 5th Station on Mt. Fuji, and more. As this is a private tour, you can customize the itinerary to suit your own interests. The flexible itinerary can be adjusted to suit your needs See as much or as little as you like during the day, as this is a private tour for you An easy and hassle-free way of visiting the Fuji area from Tokyo Travelers with a range of interests will enjoy the attractions around Mt. Fuji.
            </p>
            <a class="btn-solid-reg" href="~/Tour/Index">CHECKOUT</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div>
        <!-- end of col -->
    </div>
    <!-- end of row -->
</div>
<!-- end of lightbox-basic -->
<!-- end of lightbox -->
<!-- Lightbox -->
<div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-8">
            <img class="img-fluid" src="~/client/images/project-3.jpg" alt="alternative">
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
            <h3>BoomBap Audio</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
            <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
            <div class="testimonial-container">
                <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                <p class="testimonial-author">General Manager</p>
            </div>
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div>
        <!-- end of col -->
    </div>
    <!-- end of row -->
</div>
<!-- end of lightbox-basic -->
<!-- end of lightbox -->
<!-- Lightbox -->
<div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-8">
            <img class="img-fluid" src="~/client/images/project-4.jpg" alt="alternative">
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
            <h3>Van Moose</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
            <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
            <div class="testimonial-container">
                <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                <p class="testimonial-author">General Manager</p>
            </div>
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div>
        <!-- end of col -->
    </div>
    <!-- end of row -->
</div>
<!-- end of lightbox-basic -->
<!-- end of lightbox -->
<!-- Lightbox -->
<div id="project-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-8">
            <img class="img-fluid" src="~/client/images/project-5.jpg" alt="alternative">
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
            <h3>Joy Moments</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
            <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
            <div class="testimonial-container">
                <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                <p class="testimonial-author">General Manager</p>
            </div>
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div>
        <!-- end of col -->
    </div>
    <!-- end of row -->
</div>
<!-- end of lightbox-basic -->
<!-- end of lightbox -->
<!-- Lightbox -->
<div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-8">
            <img class="img-fluid" src="~/client/images/project-6.jpg" alt="alternative">
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
            <h3>Spark Events</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
            <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
            <div class="testimonial-container">
                <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                <p class="testimonial-author">General Manager</p>
            </div>
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div>
        <!-- end of col -->
    </div>
    <!-- end of row -->
</div>
<!-- end of lightbox-basic -->
<!-- end of lightbox -->
<!-- Lightbox -->
<div id="project-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-8">
            <img class="img-fluid" src="~/client/images/project-7.jpg" alt="alternative">
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
            <h3>Casual Wear</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
            <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
            <div class="testimonial-container">
                <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                <p class="testimonial-author">General Manager</p>
            </div>
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div>
        <!-- end of col -->
    </div>
    <!-- end of row -->
</div>
<!-- end of lightbox-basic -->
<!-- end of lightbox -->
<!-- Lightbox -->
<div id="project-8" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-8">
            <img class="img-fluid" src="~/client/images/project-8.jpg" alt="alternative">
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
            <h3>Zazoo Apps</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
            <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
            <div class="testimonial-container">
                <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                <p class="testimonial-author">General Manager</p>
            </div>
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div>
        <!-- end of col -->
    </div>
    <!-- end of row -->
</div>
<!-- end of lightbox-basic -->
<!-- end of lightbox -->
<!-- end of project lightboxes -->
<!-- Team -->
<div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Teams</h2>
                <p class="p-heading">We're only as strong and as knowledgeable as our team. So here are the men and women which help creating and managing tours</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="display: flex;">
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="~/client/images/team-1.png" alt="alternative">
                    </div>
                    <p class="p-large">TUAN</p>
                    <p class="job-title">Responsible leader</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="~/client/images/team-2.png" alt="alternative">
                    </div>
                    <p class="p-large">HUONG</p>
                    <p class="job-title">Hardwork beauty</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="~/client/images/team-3.png" alt="alternative">
                    </div>
                    <p class="p-large">LOC</p>
                    <p class="job-title">English master</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="~/client/images/team-4.png" alt="alternative">
                    </div>
                    <p class="p-large">THAO</p>
                    <p class="job-title">Relationship holder</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="~/client/images/team-3.png" alt="alternative">
                    </div>
                    <p class="p-large">PHUC</p>
                    <p class="job-title">Enthusiastic advisor</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of basic-2 -->
<!-- end of team -->
<!-- About -->
<div id="about" class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-6">
                <div class="image-container">
                    <img class="img-fluid" src="~/client/images/about.jpg" alt="alternative">
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-7 col-xl-6">
                <div class="text-container">
                    <div class="section-title">ABOUT</div>
                    <h2>We're passionate about helping travelling around the world</h2>
                    <p>Our goal is to provide tours, hotels and lots of restaurants</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Everything we recommend has direct positive impact</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">You will become an important partner of our company</div>
                        </li>
                    </ul>

                    <!-- Counter -->
                    <div id="counter">
                        <div class="cell">
                            <div class="counter-value number-count" data-count="231">1</div>
                            <div class="counter-info">Happy<br>Users</div>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="121">1</div>
                            <div class="counter-info">Tour<br>Created</div>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="159">1</div>
                            <div class="counter-info">Good<br>Reviews</div>
                        </div>
                    </div>
                    <!-- end of counter -->

                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of counter -->
<!-- end of about -->
<!-- Contact -->
<div id="contact" class="form-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">CONTACT</div>
                    <h2>Get In Touch Using The Form</h2>
                    <p>You can stop by our office for a cup of coffee and just use the contact form below for any questions and inquiries</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i>22nd Innovative Street, San Francisco, CA 94043, US</li>
                        <li><i class="fas fa-phone"></i><a href="tel:003024630820">+81 720 22 126</a></li>
                        <li><i class="fas fa-phone"></i><a href="tel:003024630820">+81 720 22 128</a></li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:office@aria.com">office@aria.com</a></li>
                    </ul>
                    <h3>Follow Aria On Social Media</h3>

                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-pinterest fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-linkedin-in fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-behance fa-stack-1x"></i>
                        </a>
                    </span>
                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-6">

                <!-- Contact Form -->
                <form id="contactForm" data-toggle="validator" data-focus="false">
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="cname" required>
                        <label class="label-control" for="cname">Name</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control-input" id="cemail" required>
                        <label class="label-control" for="cemail">Email</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control-textarea" id="cmessage" required></textarea>
                        <label class="label-control" for="cmessage">Your message</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group checkbox">
                        <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I agree with Aria's stated <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms-conditions.html">Terms Conditions</a>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                    </div>
                    <div class="form-message">
                        <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
                <!-- end of contact form -->

            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>