@{
    ViewData["Title"] = "Terms & Conditions";
}

<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</header>

<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h3>Điều khoản và điều kiện sử dụng trang web</h3>
                    <p>Chào mừng đén với website của chúng tôi. Nếu bạn tiếp tục duyệt và sử dụng trang web này, bạn đồng ý tuân thủ và bị ràng buộc bởi các điều khoản và điều kiện sử dụng sau đây, cùng với chính sách bảo mật của chúng tôi chi phối mối quan hệ của [tên doanh nghiệp] với bạn liên quan đến trang web này. Nếu bạn không đồng ý với bất kỳ phần nào của các điều khoản và điều kiện này, vui lòng không sử dụng trang web của chúng tôi.</p>
                    <p>Thuật ngữ ‘UMC TRAVEL’ hoặc ‘us’ hoặc ‘we’ dùng để chỉ chủ sở hữu của trang web có trụ sở đăng ký tại Hà Nội. Thuật ngữ 'bạn' đề cập đến người dùng hoặc người xem trang web của chúng tôi. Việc sử dụng trang web này tuân theo các điều khoản sử dụng sau:</p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled li-space-lg indent" style="display: block;">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Nội dung của các trang của trang web này là thông tin chung của bạn và chỉ sử dụng. Nó có thể thay đổi mà không cần thông báo.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Trang web này sử dụng cookie để theo dõi các tùy chọn duyệt web. Nếu bạn cho phép sử dụng cookie, thông tin cá nhân sau đây có thể được chúng tôi lưu trữ để sử dụng cho các bên thứ ba..</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Chúng tôi và bất kỳ bên thứ ba nào không cung cấp bất kỳ bảo hành hoặc đảm bảo nào về tính chính xác, kịp thời, hiệu suất, tính đầy đủ hoặc tính phù hợp của thông tin và tài liệu được tìm thấy hoặc cung cấp trên trang web này cho bất kỳ mục đích cụ thể nào. Bạn thừa nhận rằng thông tin và tài liệu đó có thể không chính xác hoặc sai sót và chúng tôi loại trừ trách nhiệm pháp lý đối với bất kỳ sự không chính xác hoặc sai sót nào như vậy trong phạm vi tối đa được pháp luật cho phép.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Việc bạn sử dụng bất kỳ thông tin hoặc tài liệu nào trên trang web này là hoàn toàn do bạn tự chịu rủi ro, chúng tôi sẽ không chịu trách nhiệm. Bạn có trách nhiệm đảm bảo rằng bất kỳ sản phẩm, dịch vụ hoặc thông tin nào có sẵn trên trang web này đều đáp ứng các yêu cầu cụ thể của bạn.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Trang web này chứa tài liệu thuộc sở hữu hoặc cấp phép cho chúng tôi. Tài liệu này bao gồm, nhưng không giới hạn, thiết kế, bố cục, giao diện, hình thức và đồ họa. Sao chép bị cấm khác với thông báo bản quyền, là một phần của các điều khoản và điều kiện này.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Tất cả các nhãn hiệu được sao chép trên trang web này, không phải là tài sản của hoặc được cấp phép cho nhà điều hành, đều được thừa nhận trên trang web.</div>
                                </li>
                            </ul>
                        </div>

         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>