@using UMCTravelTour.Service.Locations
@using UMCTravelTour.ViewModel.Locations
@model UMCTravelTour.ViewModel.Tours.TourVm
@{
    ViewData["Title"] = "Create";
}

<h1>Tạo Tour</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_CreateOrEditPartial" />
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Location" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    var editor1 = new RichTextEditor("#Description");
    var editor2 = new RichTextEditor("#Schedule");
</script>

}
