@model UMCTravelTour.ViewModel.Tours.TourVm

@{
    ViewData["Title"] = "Edit";
}

<h1>Sửa Tour</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TourId" />
            <partial name="_CreateOrEditPartial" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button type="submit" asp-action="Delete" asp-route-id="@Model.TourId" class="btn btn-danger">Xoá</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var editor1 = new RichTextEditor("#Description");
        var editor2 = new RichTextEditor("#Schedule");
    </script>

}
