@model UMCTravelTour.ViewModel.Rooms.RoomVm

@{
    ViewData["Title"] = "Edit";
}

<h1>Sửa phòng</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype = "multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HotelId" />
            <input type="hidden" asp-for="RoomId" />
           <partial name="_AddOrEdit"/>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-dark">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var editor1 = new RichTextEditor("#Description");
        
    </script>

}
