<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between" id="footer-db">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">©Copyright UMC travel 2023</span>
    </div>
</footer>