@model UMCTravelTour.ViewModel.Restaurants.RestaurantVm

@{
    ViewData["Title"] = "Edit";
}

<h1>Sửa chi tiết nhà hàng</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RestaurantId" />
            <partial name = "_AddOrEdit" />
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-inverse-info">Quay lại</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var editor1 = new RichTextEditor("#Description");

        function deleteImage(item){
            var imageOld = document.getElementById('output');
            const newImage = document.createElement('img');
            newImage.src = "";
            newImage.name = "ImageLink";
            item.parentElement.replaceChild(newImage, imageOld);
            console.log(item.parentElement)
        }
    </script>
}
